@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    <div class="form-group" style="margin:15px">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.Name, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
        @Html.ValidationMessageFor(x=> x.Name,null, new { @class = "text-danger"})
        <br /> 
        <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    </div>
}



 


